{% if collection.image %} {%- assign collection_image = collection.image -%} {%
elsif collection.products.first and collection.products.first.images != empty %}
{%- assign collection_image = collection.products.first.featured_image -%} {%
else %} {% assign collection_image = blank %} {% endif %}

<a href="{{ collection.url }}" class="grp-collections__item grid-12">
  <h3>{{ collection.title }}</h3>
  {{ collection_image | img_url: '1024x' | img_tag }}
</a>
