<section class="grp-wrap grp-up-next">
  <div class="grp-container grp-container--narrow">
    <a href="{{ un_link }}">
      <h4>Next</h4>
      <span class="grp-up-next__dash"></span>
      <span class="grp-up-next__title">{{ un_title }}</span>
    </a>
  </div>
</section>
