<section class="grp-wrap grp-up-next">
  <div class="grp-container grp-container--narrow">
    <h4>Next</h4>
    <span class="grp-up-next__dash"></span>
    <a class="grp-up-next__title" href="{{un_link}}">{{un_title}}</a>
  </div>
</section>
