<section class="grp-wrap grp-collections">
  <div class="grp-collections__grid grp-container">
    <a href="/pages/anguilla" class="grp-collections__item grid-12">
      <h3>ANGUILLA</h3>
      {{ 'lookbook-anguilla.jpg' | asset_url | img_tag }}
    </a>
    <a href="/pages/essentials" class="grp-collections__item grid-12">
      <h3>ESSENTIALS</h3>
      {{ 'lookbook-essentials.jpg' | asset_url | img_tag }}
    </a>
  </div>
</section>
