<section class="grp-wrap grp-collections">
  <div class="grp-page-header">
    <div class="grp-container grp-container--narrow">
      <h3>Collections</h3>
    </div>
  </div>
  <div class="grp-collections__grid grp-container">
    {% for link in linklists.all-collections.links %}
      {% assign collection = link.object %}
      {% include 'collection-grid-item' %}
    {% endfor %}
  </div>
</section>