<section class="grp-wrap grp-collections">
  <div class="grp-collections__grid grp-container">
    {% for link in linklists.all-collections.links %}
      {% assign collection = link.object %}
      {% include 'collection-grid-item' %}
    {% endfor %}
    <a href="/pages/gobi" class="grp-collections__item grid-12">
      <h3>GOBI</h3>
      {{ 'lookbook-gobi.png' | asset_url | img_tag }}
    </a>
  </div>
</section>