/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  background: none;
  padding: 0;
}

hr {
  border: none;
}

//
// Vendor
//

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #000;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #000;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #000;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #000;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #000;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

//
// Variables
//

// Colors
$black: #000;
$white: #fff;

// Vertical Padding
$vertical-space: 75px;

// Breakpoints
$bp-xxs: 350px;
$bp-xs: 670px;
$bp-s: 790px;
$bp-m: 1024px;
$bp-l: 1280px;
$bp-xl: 1500px;

//
// Mixins
//

/*--------------------------------------------------------------
# Justify Inline Block Elements
--------------------------------------------------------------*/
@mixin justify($vertical-align: top) {
  text-align: justify !important;
  text-justify: inter-ideograph;
  font-size: 0px;
  & > * {
    display: inline-block;
    vertical-align: $vertical-align;
    text-align: left;
  }
  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
@mixin mq($breakpoint) {
  @media all and (max-width: $breakpoint) {
    @content;
  }
}

@mixin retina() {
  @media (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

/*--------------------------------------------------------------
# Transition
--------------------------------------------------------------*/
@mixin transition($target: all, $time: 0.2s, $ease: ease-in-out) {
  -webkit-transition: $target $time $ease;
  -moz-transition: $target $time $ease;
  -ms-transition: $target $time $ease;
  transition: $target $time $ease;
}

/*--------------------------------------------------------------
# Transform
--------------------------------------------------------------*/
@mixin transform($properties) {
  -webkit-transform: $properties;
  -moz-transform: $properties;
  -ms-transform: $properties;
  transform: $properties;
}

/*--------------------------------------------------------------
# Flexbox
--------------------------------------------------------------*/
@mixin display-flex(
  $direction: row,
  $align: flex-start,
  $wrap: wrap,
  $justify: space-between
) {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: $direction;
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;

  -webkit-justify-content: $justify;
  justify-content: $justify;

  -webkit-box-align: $align;
  -moz-box-align: $align;
  -webkit-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
  flex-align: $align;

  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;

  @if $justify == space-between {
    -ms-flex-pack: justify;
  } @else {
    -ms-flex-pack: $justify;
  }
}

/*--------------------------------------------------------------
# Flexbox child
--------------------------------------------------------------*/
@mixin flex-child($flex-value, $order: auto) {
  -webkit-box-flex: $flex-value;
  -moz-box-flex: $flex-value;
  -webkit-flex: $flex-value;
  -ms-flex: $flex-value;
  flex: $flex-value;

  -webkit-order: $order;
  -ms-flex-order: $order;
  order: $order;
}

/*--------------------------------------------------------------
# Font Imports
--------------------------------------------------------------
EG:
@font-face {
  font-family: 'MyFontFace';
  src: url('fonts/MyFontFace/regular.otf') format('opentype');
  src: url('fonts/MyFontFace/regular.woff') format('woff');
} */

/*--------------------------------------------------------------
# Font Mixins
----------------------------------------------------------------
EG:
@mixin serif($weight: regular) {
  @if $weight == regular {
    font-family: 'MyFontFace', 'Times', serif;
  }
  @else if $weight == bold {
    font-family: 'MyFontFaceBold', 'Times', serif;
  }
  @else if $weight == italic {
    font-family: 'MyFontFaceItalic', 'Times', serif;
  }
} */

/*--------------------------------------------------------------
# General Typography
--------------------------------------------------------------*/

$font-sans: "Maven Pro", sans-serif;

body {
  font-family: $font-sans;
  font-smooth: always;
  min-height: 100vh;
}

html {
  font-size: 10px;
}

//
// Font Styles
//

h1 {
  font-size: 5rem;
  font-weight: normal;
  font-family: $font-sans;
  line-height: 5.5rem;
  color: $black;
  margin-bottom: 10px;
  outline: none;

  @media (max-width: $bp-m) {
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

h2 {
  font-size: 3.8rem;
  font-weight: normal;
  font-family: $font-sans;
  line-height: 4.5rem;
  color: $black;
  margin-bottom: 4rem;
  outline: none;

  small {
    font-size: 0.5em;
    padding-left: 20px;
    a {
      color: #666;
    }
  }

  @media (max-width: $bp-m) {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 2.3rem;
  font-weight: 900;
  font-family: $font-sans;
  line-height: 3.8rem;
  color: $black;
  margin-bottom: 20px;
  outline: none;
}

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 900;
  color: $black;
  outline: none;

  @media (max-width: $bp-m) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

h5 {
  font-size: 1.8rem;
  font-weight: 900;
  color: $black;
  margin: 0 auto 5px;
  outline: none;

  @media (max-width: $bp-m) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  color: $black;

  @media (max-width: $bp-m) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  strong {
    font-weight: 700;
  }

  a {
    text-decoration: underline;
    color: $black;
    background: transparent;

    &:hover {
      color: #fff;
      background: #000;
    }
  }
}

.grp-size-chart-link {
  color: $black;
  background: transparent;

  &:hover {
    color: #fff;
    background: #000;
  }
}

.grp-page-header {
  margin-bottom: 40px;

  p {
    margin-bottom: 0;
  }

  .grp-size-chart-link {
    display: inline-block;
    font-size: 1.4rem;
    margin: 20px 0;
  }
}

.hide {
  display: none;
}

/*--------------------------------------------------------------
# Body - Content Wrap
--------------------------------------------------------------*/
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-size: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.grp-wrap {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: $vertical-space 0;
  box-sizing: border-box;

  &--no-padding {
    padding: 0;
  }
}

.grp-container {
  display: block;
  width: 90%;
  height: auto;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;

  &--wide {
    max-width: 1200px;
  }

  &--narrow {
    max-width: 720px;
  }

  &--mobile-full-width {
    width: 100%;
  }
}

//
// Global Header
//

.grp-header {
  @include display-flex();

  padding: 20px 0;
  justify-content: space-between;
  position: relative;
  z-index: 9;

  &__bar {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: $black;
    margin-bottom: 20px;
  }

  &__hamburger {
    display: none;

    @media (max-width: $bp-s) {
      display: block;
      font-size: 18px;
      padding-left: 20px;
    }
  }

  &__coming-soon {
    padding-left: 30px;
  }

  &__nav {
    display: block;
    padding-left: 30px;
    font-size: 16px;

    a {
      color: #222;
      margin-right: 20px;

      &.close {
        display: none;
      }

      &.active {
        font-weight: 900;
      }
    }

    @media (max-width: $bp-s) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000;
      color: #fff;
      z-index: 99;
      padding: 0;
      overflow: hidden;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      a {
        display: block;
        text-align: center;
        margin: 20px auto;
        font-size: 3vh;
        color: #666;

        &.close {
          display: block;
        }

        &:hover,
        &.active {
          font-weight: 900;
          color: #fff;
        }
      }
    }
  }

  &__logo {
    display: inline-block;
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
}

//
// Coming Soon Page
//

.grp-coming-soon {
  h2 {
    font-weight: 400;
    margin: 120px 0;
  }

  p {
    color: #777;
  }

  form {
    label {
      display: none;
    }

    input[type="email"] {
      width: 247px;
      height: 40px;
      padding: 0;
      outline: none;
      border: 0;
      border-bottom: 1px solid #000;
      font-size: 13px;
      color: #333;
      vertical-align: middle;

      @media (max-width: $bp-m) {
        width: 219px;
      }
    }

    button {
      display: inline-block;
      width: auto;
      height: 40px;
      padding: 0 10px;
      outline: none;
      border: 0;
      border-bottom: 1px solid #000;
      color: #000;
      cursor: pointer;
      vertical-align: middle;

      img {
        width: 20px;
        height: auto;
      }
    }

    .input-error-message {
      display: block;
      width: 500px;
      height: auto;
      padding: 20px 0;

      svg,
      img {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        padding-right: 10px;
      }
    }

    .form-message {
      display: block;
      outline: none;
      font-style: italic;
    }
  }
}

.grp-homepage {
  .grp-container {
    width: 90%;
    max-width: none;
    position: relative;
  }

  h2 {
    margin: 25vh 0;

    span {
      display: block;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;

    .inner {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;

      video {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;

        @media (max-width: $bp-s) {
          transform: translateX(-40%);
        }
      }

      @media (max-width: $bp-m) {
        background-position-x: -250px;
        background-position-y: 0;
        background-size: cover;
      }

      @media (max-width: $bp-s) {
        background-position-x: -300px;
        background-position-y: 0;
        background-size: 1380px;
      }
    }
  }

  &__overlay {
    margin-top: 100px;
  }

  .grp-newsletter {
    display: block;
    background: transparent;
    margin-top: 100px;

    p {
      margin-bottom: 10px;
    }

    input[type="email"] {
      background: transparent;
    }
  }
}

//
// Generic Page Styles
//

.grp-page {
  h4 {
    margin-bottom: 4rem;
  }
}

//
// Login Form
//

.grp-login,
.grp-register {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;

  label {
    display: none;
  }

  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 0;
    margin-bottom: 10px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 13px;
    color: #333;
  }

  input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
  }

  .form-buttons {
    @include display-flex();
    padding: 10px 0;
    justify-content: space-between;
  }
}

//
// Collections Page
//

.grp-collections {
  &__grid {
    @include display-flex();
    justify-content: space-around;

    .product-media {
      display: block;
      width: 45%;
      height: auto;
      margin-bottom: 5%;

      > .inner {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 178%;

        img,
        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      @media (max-width: $bp-s) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__item {
    display: inline-block;
    margin-bottom: 5%;

    .inner {
      display: block;
      position: relative;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      height: auto;
    }

    &.grid-2,
    .two-items &.grid-3 {
      width: 47%;
      margin: 1.5%;

      .inner {
        padding-top: 150%;
      }

      @media (max-width: $bp-s) {
        width: 100%;
      }
    }

    &.grid-3 {
      width: 31%;
      margin: 1%;

      .inner {
        padding-top: 150%;
      }

      @media (max-width: $bp-s) {
        width: 100%;
      }
    }

    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      font-weight: 900;
      color: #fff;
      background: #000;
      transform: translate(-50%, -50%);
    }

    &:hover {
      h3 {
        color: #000;
        background: #fff;
      }
      h5 {
        color: #fff;
        background: #000;
      }
    }

    .product-description {
      padding: 20px 0;

      h5 {
        display: inline-block;
      }

      h5,
      p {
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-bottom: 10px;
      }

      .description {
        color: #666;
        margin-bottom: 30px;
      }
    }
  }
}

//
// Up Next Section
//

.grp-up-next {
  background: #e1e1e1;
  padding: 100px 0;

  &__dash {
    display: block;
    width: 40px;
    height: 3px;
    background: #000;
    margin: 30px 0;
  }

  &__title {
    display: block;
    font-size: 3.8rem;
    font-weight: normal;
    line-height: 4.5rem;
    color: $black;
    margin-bottom: 2rem;
    outline: none;

    @media (max-width: $bp-m) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }
}

//
// Product Page

.grp-product {
  &__container {
    @include display-flex();
    justify-content: space-between;
  }

  .grp-product-image,
  .grp-mobile-image {
    display: inline-block;
    width: 45%;
    height: auto;

    @media (max-width: $bp-s) {
      display: none;
    }

    &__zoom,
    &__canvas {
      display: block;
      width: 100%;
      height: auto;
      background: no-repeat center center;
      background-size: cover;
      margin-bottom: 1%;

      .inner {
        width: 100%;
        height: 0;
        padding-top: 150%;
      }
    }

    &__thumbs {
      @include display-flex();
      justify-content: flex-start;
    }

    .thumbnail {
      display: inline-block;
      width: 24%;
      height: auto;
      background: no-repeat center center;
      background-size: cover;
      margin: 0 1% 1% 0;
      cursor: pointer;

      .inner {
        width: 100%;
        height: 0;
        padding-top: 120%;
      }
    }
  }

  .grp-product-form {
    display: inline-block;
    width: 45%;
    height: auto;

    .grp-mobile-image {
      display: none;

      @media (max-width: $bp-s) {
        display: block;
        width: 100%;
      }
    }

    @media (max-width: $bp-s) {
      width: 100%;
    }
  }

  .loading {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    font-size: 4rem;
    color: #cecece;
  }

  p.success {
    display: inline-block;
    background: #000;
    color: #fff;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1;
  }

  .order-form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    font-size: 1.4rem;

    th {
      padding: 5px;
    }

    td {
      padding: 5px;
      border: 1px solid #000;

      &.no-border {
        border: 0;
      }

      &.size-chart-link {
        text-align: right;
        padding: 10px 0;
      }
    }

    input {
      width: 100%;
      height: 20px;
      outline: none;
      border: 0;
    }
  }

  &__submit {
    display: inline-block;
    font-size: 1.4rem;
    border-bottom: 4px solid #000;
    padding-bottom: 5px;
  }
}

//
// Cart Template
//

.grp-cart {
  &__breakdown {
    @include display-flex();
    margin-bottom: 40px;
  }

  &__top-submit {
    text-align: center;
  }

  &__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 48%;
    margin-bottom: 1%;
    padding: 7px 0;
    border-bottom: 2px solid #f9f9f9;

    @media (max-width: $bp-s) {
      width: 100%;
    }

    .category-title {
      text-transform: capitalize;
    }
  }

  &__list {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8rem;

    thead {
      border-bottom: 4px solid #000;
    }

    th {
      padding-bottom: 20px;
      font-weight: 700;
    }

    tr {
      padding: 20px 0;
      border-bottom: 1px solid #cecece;
    }

    td {
      padding: 20px 0;

      a {
        color: #666;
        font-size: 1.3rem;
        display: inline-block;
        margin: 10px 0;
        font-weight: 700;
        line-height: 1;

        &:hover {
          background: #000;
          color: #fff;
        }
      }

      label {
        display: none;
      }

      input {
        outline: none;
        border: 0;
        border-bottom: 1px solid #000;
        color: #666;
        width: 100px;
        height: 30px;
        font-size: 1.4rem;
      }
    }
  }

  &__footer {
    padding: 60px 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border-top: 10px solid #000;

    > div {
      margin-bottom: 20px;
    }
  }

  &__shipping {
    color: #666;

    &.policies a {
      display: inline-block;
      margin-right: 20px;
    }
  }

  &__submit-controls {
    @include display-flex();

    a,
    input {
      display: inline-block;
    }
  }

  &__submit {
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
  }

  &__update {
    display: inline-block;
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 0;
    color: #000;
    text-shadow: none;
  }

  &__continue {
    display: inline-block;
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 0;
    color: #000;
    text-shadow: none;
  }
}

//
// Size Chart
//

.grp-size-chart {
  text-align: center;

  &__img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

//
// Store Locator
//

.grp-store-locator {
  @include display-flex();

  .column {
    @include display-flex();
    flex-direction: column;
    width: 45%;
  }

  .city {
    display: inline-block;
    width: 100%;
    height: auto;

    @media (max-width: $bp-s) {
      width: 100%;
    }

    a {
      display: block;

      &:hover {
        background: #000;
        color: #fff;

        p {
          color: #fff;
        }
      }
    }

    h3 {
      border-bottom: 2px solid #000;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.3;
    }
  }
}

// Policy Container
.shopify-policy__container {
  max-width: 900px !important;
}
