<section class="grp-wrap grp-page">
  <div class="grp-page-header">
    <div class="grp-container grp-container--narrow">
      <h3>{{ page.title }}</h3>
      <p>{{ page.content }}</p>
    </div>
  </div>
  <div class="grp-container grp-container--narrow">
    <div class="grp-store-locator">

      <div class="column west-coast">

        <div class="city">
          <h3>WHOLESALE INQUIRES</h3>
          <a href="mailto:sales@grp1knits.com" target="_blank">
            <p>
              Apropo Showroom<br />
              15 W. 28th St, 9th Floor<br />
              New York, NY 10001<br />
              917-969-2577<br />
              sales@grp1knits.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>CALIFORNIA</h3>
          <a href="http://amarees.com" target="_blank">
            <p>
              A’maree’s<br />
              2241 West Coast Highway<br />
              Newport Beach, CA 92663<br />
              949-642-4423<br />
              www.amarees.com
            </p>
          </a>
          <a href="http://karenharlowforthehome.com" target="_blank">
            <p>
              Karen Harlow<br />
              74939 Highway 111<br />
              Indian Wells, CA 92210<br />
              760-674-4663<br />
              www.karenharlowforthehome.com
            </p>
          </a>
          <a href="http://shopjinny.com" target="_blank">
            <p>
              Jinny<br />
              1575 Botelho Dr. <br />
              Walnut Creek, CA 94596 <br />
              925-476-5857<br />
              www.shopjinny.com
            </p>
          </a>
          <a href="http://101healdsburg.com" target="_blank">
            <p>
              One O One<br />
              101 Plaza St<br />
              Healdsburg, CA 95448<br />
              707-433-2800<br />
              www.101healdsburg.com
            </p>
          </a>
          <a href="tel:415-922-3685" target="_blank">
            <p>
              Susan<br />
              3685 Sacramento St<br />
              San Francisco, CA<br />
              415-922-3685
            </p>
          </a>
          <a href="tel:8316264686" target="_blank">
            <p>
              SHE<br />
              110 The Crossroads <br />
              Carmel-By-The-Sea, CA 93923<br />
              831-626-4686
            </p>
          </a>
          <a href="http://theconservatorynyc.com" target="_blank">
            <p>
              The Conservatory Napa<br />
              6540 Washington St.<br />
              Yountville, CA 94599<br />
              707-415-5015<br />
              www.theconservatorynyc.com
            </p>
          </a>
          <a href="http://www.savannahsantamonica.com" target="_blank">
            <p>
              Savannah<br />
              706 Montana Ave<br />
              Santa Monica, CA 90403<br />
              310-458-2095<br />
              www.savannahsantamonica.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>CANADA</h3>
          <a href="https://www.tntfashion.ca" target="_blank">
            <p>
              TNT<br />
              87 Avenue Road<br />
              Toronto, ON Canada<br />
              416-975-1810<br />
              www.tntfashion.ca
            </p>
          </a>
          <a href="https://www.tntfashion.ca" target="_blank">
            <p>
              TNT<br />
              388-394 Eglinton Avenue W <br />
              Toronto, ON Canada <br />
              416-488-9602<br />
              www.tntfashion.ca
            </p>
          </a>
          <a href="https://shopwinston.ca" target="_blank">
            <p>
              Winston<br />
              1568 Yonge St<br />
              Toronto, ON M4T 1Z7<br />
              416-901-6633<br />
              www.shopwinston.ca
            </p>
          </a>
        </div>

        <div class="city">
          <h3>COLORADO</h3>
          <a href="https://www.lawrencecovell.com" target="_blank">
            <p>
              Lawrence Covell<br />
              225 Steele St<br />
              Denver, CO 80206<br />
              303-320-1023<br />
              www.lawrencecovell.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>CONNECTICUT</h3>
          <a href="http://www.catherineh.com" target="_blank">
            <p>
              Catherine H.<br />
              144 Main St<br />
              Westport, CT 06880<br />
              203-557-8414<br />
              www.catherineh.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>FLORIDA</h3>
          <a href="https://www.deborahjames.com" target="_blank">
            <p>
              Deborah James<br />
              402 Via De Palmas <br />
              Boca Raton, FL 33432<br />
              561-367-9600<br />
              www.deborahjames.com
            </p>
          </a>
          <a href="https://www.deborahjames.com" target="_blank">
            <p>
              Deborah James<br />
              623 E Las Olas Blvd<br />
              Fort Lauderdale, FL 33301<br />
              954-524-2585<br />
              www.deborahjames.com
            </p>
          </a>
          <a href="https://www.deborahjames.com" target="_blank">
            <p>
              Deborah James<br />
              1201 US-1,<br />
              North Palm Beach, FL 33408<br />
              561-410-5700<br />
              www.deborahjames.com
            </p>
          </a>
          <a href="https://www.deborahkents.com" target="_blank">
            <p>
              Deborah Kent's<br />
              2120 A S Dale Mabry Hwy <br />
              Tampa, FL, 33629<br />
              813-259-1150<br />
              www.deborahkents.com
            </p>
          </a>
          <a href="https://shopwinston.ca" target="_blank">
            <p>
              Winston<br />
              323 Worth Ave<br />
              Palm Beach, FL 33480<br />
              561-901-6633<br />
              www.shopwinston.ca
            </p>
          </a>
        </div>

      </div>

      <div class="column">

        <div class="city">
          <h3>ILLINOIS</h3>
          <a href="http://neapolitanonline.com" target="_blank">
            <p>
              Neapolitan Collection<br />
              560 Chestnut St<br />
              Winnetka, IL 60093<br />
              847-441-7784<br />
              www.neapolitanonline.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>LOUISIANA</h3>
          <a href="http://weinsteinsinc.com" target="_blank">
            <p>
              Weinstein’s<br />
              4011 Magazine St<br />
              New Orleans, LA 70115<br />
              504-895-6278<br />
              www.weinsteinsinc.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>MASSACHUSETTS</h3>
          <a href="http://luxcouture.com" target="_blank">
            <p>
              Lux Couture<br />
              9 Lincoln St<br />
              Newton Highlands, MA 02461<br />
              617-969-5600<br />
              www.luxcouture.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>MARYLAND</h3>
          <a href="http://shoptabandeh.com" target="_blank">
            <p>
              Tabandeh<br />
              5330-F Western Ave<br />
              Chevy Chase, MD 20815<br />
              202-244-0777<br />
              www.shoptabandeh.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>MINNESOTA</h3>
          <a href="http://dnolo.com" target="_blank">
            <p>
              D. Nolo<br />
              219 N. 2nd St.<br />
              Minneapolis, MN 55401<br />
              612-584-3224<br />
              www.dnolo.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>NEW MEXICO</h3>
          <a href="https://santafedrygoods.com" target="_blank">
            <p>
              Santa Fe Dry Goods<br />
              53 Old Santa Fe Trail (On The Plaza)<br />
              Santa Fe, NM 87501<br />
              505-982-4066<br />
              www.santafedrygoods.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>NEW YORK</h3>
          <a href="http://www.catherineh.com" target="_blank">
            <p>
              Catherine H.<br />
              18-24 Parkway<br />
              Katonah, NY 10536<br />
              914-232-2010<br />
              www.catherineh.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>OKLAHOMA</h3>
          <a href="https://abersonstyle.com" target="_blank">
            <p>
              Aberson’s<br />
              3509 S. Peoria Ave<br />
              Tulsa, OK 74105<br />
              918-742-7335<br />
              www.abersonstyle.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>PENNSYLVANIA</h3>
          <a href="http://choicespittsburgh.com" target="_blank">
            <p>
              Choices<br />
              5416 Walnut St<br />
              Pittsburgh, PA 15232<br />
              412-687-7600<br />
              www.choicespittsburgh.com
            </p>
          </a>
          <a href="http://joanshepp.com" target="_blank">
            <p>
              Joan Shepp<br />
              1811 Chestnut St<br />
              Philadelphia, PA 19106<br />
              215-735-2666<br />
              www.joanshepp.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>SOUTH CAROLINA</h3>
          <a href="https://www.coplons.com" target="_blank">
            <p>
              Coplan's<br />
              4825 Forest Drive<br />
              Columbia, SC 29206<br />
              803-790-0015<br />
              www.coplons.com
            </p>
          </a>
          <a href="https://www.rtwcharleston.com" target="_blank">
            <p>
              RTW<br />
              186 King St<br />
              Charleston, SC 29401<br />
              843-577-9748<br />
              www.rtwcharleston.com
            </p>
          </a>
        </div>

        <div class="city">
          <h3>TEXAS</h3>
          <a href="https://www.theconservatorynyc.com" target="_blank">
            <p>
              The Conservatory Dallas<br />
              100 Highland Park Village<br />
              Dallas, TX 75205<br />
              972-629-9919<br />
              www.theconservatorynyc.com
            </p>
          </a>
        </div>   
        
        <div class="city">
          <h3>VIRGINIA</h3>
          <a href="https://thinkscarpa.com" target="_blank">
            <p>
              Scarpa<br />
              2114 Barracks Rd.<br />
              Charlottesville, VA 22903<br />
              434-296-0040<br />
              www.thinkscarpa.com
            </p>
          </a>
        </div>     

      </div>



    </div>
  </div>
</section>
{% include 'up-next', un_title: 'Our Collection', un_link: '/collections' %}
